@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary-color: #7f22fe;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;
  --color-primary: var(--primary-color);
}

@plugin "daisyui/theme" {
  name: "dark";
  color-scheme: dark;
  --color-primary: var(--primary-color);
}

/* Tirando o estilo padrão de input dos navegadores */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}