@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary-color: #7f22fe;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: var(--primary-color);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  --color-primary: var(--primary-color);
}